<%- include('base/header', { title: 'PDF Tools - Compare 2 files' }) -%>
	<h1 class="header">PDF Tools</h1>
	<h4 class="subheader">Upload the files for comparison</h4>
	<form
		id="upload-files-form"
		hx-encoding="multipart/form-data"
		hx-post="/api/compare"
		hx-swap="innerHTML"
		hx-target="#uploaded"
    hx-indicator="#spinner"
	>
      <div class="boxes">
      <div
        class="box"
        hx-on:click="document.getElementById('file1').click()"
        aria-details="Upload file 1"
        >
        <label class="cursor-pointer">
          <span>Upload file 1</span>
          <input id="file1" name="file1" type="file" accept=".pdf" class="hidden" required />
        </label>
        <div class="svg_image">
          <%- include('svgs/document.svg') -%>
        </div>
        <span class="file1_size"></span>
      </div>
      <div
        class="box"
        hx-on:click="document.getElementById('file2').click()"
        aria-details="Upload file 2"
      >
        <label class="cursor-pointer">
          <span>Upload file 2</span>
          <input id="file2" name="file2" type="file" accept=".pdf" class="hidden" required />
        </label>
        <div class="svg_image">
          <%- include('svgs/document.svg') -%>
        </div>
        <span class="file2_size"></span>
      </div>
    </div>
    <button type="submit" class="submit-btn self-center">Upload</button>
	</form>
  <div id="spinner" class="self-center svg_image htmx-indicator">
    <%- include('svgs/loading.svg') -%>
  </div>

	<div id="uploaded"></div>

  <script src="/static/js/on-change.js"></script>
  <script defer>onInputChange('file1');onInputChange('file2');</script>
<%- include('base/footer') %>