 <link rel="stylesheet" href="/static/css/table-styles.css">

 <div class="table-container" data-name="table">
   <div class="table-container__button">
     <p>
       Keys in <span class="text-medium"><%= file1 %></span>
       that are not present or are different from those in
       <span class="text-medium"><%= file2 %></span>
     </p>
     <div class="btn-group">
       <button id="dwn1" class="cursor-pointer">
         <span class="svg-button"><%- include('../svgs/download.svg') -%></span>
       </button>
       <button class="cursor-pointer" hx-on:click="document.querySelectorAll('[data-name=table]').forEach(e => e.classList.toggle('d-none'))">
         <span class="svg-button">
           <%- include('../svgs/swap.svg') %>
         </span>
       </button>
     </div>
   </div>
   <%- include('./diff-table', { data: diff1 }) %>
 </div>

 <div class="table-container d-none" data-name="table">
   <div class="table-container__button">
     <p>
       Keys in <span class="text-medium"><%= file2 %></span>
       that are not present or are different from those in
       <span class="text-medium"><%= file1 %></span>
     </p>
     <div class="btn-group">
       <button id="dwn2" class="cursor-pointer">
         <span class="svg-button"><%- include('../svgs/download.svg') -%></span>
       </button>
       <button class="cursor-pointer" hx-on:click="document.querySelectorAll('[data-name=table]').forEach(e => e.classList.toggle('d-none'))">
         <span class="svg-button">
           <%- include('../svgs/swap.svg') %>
         </span>
       </button>
     </div>
   </div>
   <%- include('./diff-table', { data: diff2 }) %>
 </div>


 <script src="/static/js/download-csv.js"></script>
 <script defer>
   var btn = document.getElementById('dwn1');
   var btn2 = document.getElementById('dwn2');
   var diffData1 = `<%- JSON.stringify(diff1) %>`
   var diffData2 = `<%- JSON.stringify(diff2) %>`
   btn.onclick = () => downloadCSVDiff(diffData1);
   btn2.onclick = () => downloadCSVDiff(diffData2);
 </script>